@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    /* max-width: 1440px; */
}
/* start linear gradient */
.to-left-grad{
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.to-right-grad{
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
/* end linear gradient */

/*  shared style */
.para-text-primary{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  }

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../assets/Hero-bg.png");
  margin: 0 auto;
  height: 652px;
  margin-bottom: 74px;
}
.banner .banner-content{
  max-width: 998px;
}
.banner  img{
  width: 240px;
}
.banner h2{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 800;
  line-height: 68px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.banner .banner-content p{
  margin-bottom: 32px;
}
.banner .contact-btn{
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 21px 24px;
  cursor: pointer;
}

.vid-section{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 150px;
}
.vid-section .vid-box h4{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.vid-section .vid-box p{
  margin: 24px 300px 48px 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;text-align: center;
}
.vid-content{
  position: relative;
  width: 1227px;
  height: 645px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.vid-content iframe{
  top: 17px;
  left: 17px;
  position: absolute;
  display: flex;
  margin: 0 auto;
  border-radius: 16px;
  border: none;
  outline: none;
}
/* end video section  */





